---
import Layout from "@/layouts/Layout.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import ProductDetail from "@/components/ProductDetail.astro";
import { SITE } from "@/config";
import { getAllProducts } from "@/lib/products";

export async function getStaticPaths() {
  const products = getAllProducts();
  
  return products.map((product) => ({
    params: { slug: product.slug },
    props: { product },
  }));
}

const { product } = Astro.props;
---

<Layout title={`${product.title} | ${SITE.title}`}>
  <Header />
  <main id="main-content" class="mx-auto max-w-app px-4">
    <section class="my-8">
      <ProductDetail product={product} />
    </section>
  </main>
  <Footer />
</Layout> 